<div class="box box-info">
    <app-box-header-content [title]="'Categorias de clientes'" [smallTitle]="'dados da categoria'"></app-box-header-content>
    <div class="box-body">

        <div class="btn-group">
            <a href="javascript:void(0)" class="btn bg-purple btn-flat" routerLink="/client-category/new"> <i class="fa fa-fw fa-file-o"></i> Nova categoria </a>
            <a href="javascript:void(0)" class="btn bg-purple btn-flat" [routerLink]="['/client-category', clientCategory.id, 'edit']" *ngIf="clientCategory.id"> <i class="fa fa-fw fa-pencil"></i> Editar </a>
            <a href="javascript:void(0)" class="btn bg-navy btn-flat" routerLink="/client-category"> <i class="fa fa-fw fa-undo"></i> Voltar </a>
        </div>
        <br>
        <br>

        <app-box-report></app-box-report>

        <table  class="table table-bordered table-striped dataTable">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{clientCategory.id}}</td>
                </tr>
                <tr>
                    <th>Nome</th>
                    <td>{{clientCategory.name}}</td>
                </tr>
                <tr>
                    <th>Classificação</th>
                    <td>{{clientCategory.classification}}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{clientCategory.status == 1 ? 'Ativado' : 'Desativado'}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
