<div class="box">

    <app-box-header-content [title]="'Produtos'" [smallTitle]="'listagem'"></app-box-header-content>

    <div class="box-body">

        <a href="javascript:void(0)" class="btn bg-purple btn-flat" routerLink="/produto/new"> <i
                class="fa fa-fw fa-file-o"></i> Novo produto </a>
        <br>
        <br>

        <div class="row" *ngIf="messageAlert">
            <app-message [color]="colorAlert" [closeAlert]="true" [timeout]="40000">{{messageAlert}}</app-message>
        </div>

        <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped dataTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Produto</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.status == 1 ? 'Ativado' : 'Desativado' }}</td>
                <td class="text-center">
                    <div class="btn-group">
                        <a href="javascript:void(0)" class="btn bg-navy  btn-xs"
                           [routerLink]="['/product', product.id, 'view']"> <i
                                class="fa fa-fw fa-eye"></i> Ver </a>
                        <a href="javascript:void(0)" class="btn bg-navy  btn-xs"
                           [routerLink]="['/product', product.id, 'edit']"> <i
                                class="fa fa-fw fa-pencil"></i> Editar </a>
                        <a href="javascript:void(0)" class="btn bg-navy  btn-xs" (click)="openModal(product)"> <i
                                class="fa fa-fw fa-trash-o"></i> Apagar</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>


<app-modal>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Mensagem de confirmação</h4>
    </div>
    <div class="modal-body" *ngIf="productModelToDelete">
        <p>Deseja excluir este produto <strong>{{productModelToDelete.name}}</strong> ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-danger" (click)="destroy()">Exluir</button>
    </div>
</app-modal>